* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background: linear-gradient(270deg,
            rgba(71, 76, 180, 0.912),
            rgba(98, 147, 233, 0.5),
            rgba(71, 178, 180, 0.912),
            rgba(143, 71, 70, 0.21),
            rgba(219, 163, 203, 0.504));
    background-size: 400% 400%;
    animation: bgAnimation 10s infinite linear;
}
.logo{
    display: flex;
    align-items: center;
    color: #ffffff;
}
.logo img{
    width: 5rem;
    height: 5rem
}
.logo h4{
    font-size: 2rem;
}

.full-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 80dvh;
}

@keyframes bgAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h2 {
    font-size: 50px;
    color: rgba(242, 238, 235, 0.912);
    font-style: italic;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 70px;
    border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
    box-shadow: 5px 10px 18px rgba(28, 28, 28, 0.912);
}

@keyframes bgAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.item-container .items {
    cursor: pointer;
    background-color: rgba(255, 255, 254, 0.5);
    border: 1px solid rgb(0, 0, 0);
    margin: 2px;
    width: 120px;
    height: 120px;
    border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
    transition: transform 0.4s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.item-container .items:hover {
    box-shadow: 5px 10px 15px white;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(70, 243, 226, 0.5));
    transform: rotate(90deg);
}

#result {
    color: white;
    font-style: italic;
    font-size: 2rem;
}

#final {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 30%;
    margin: 20px;
    color: white;
}

#final #restart {
    all: unset;
    font-style: italic;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
    padding: 20px 30px;
    background: linear-gradient(270deg,
            rgba(71, 76, 180, 0.912),
            rgba(98, 147, 233, 0.5),
            rgba(71, 178, 180, 0.912),
            rgba(143, 71, 70, 0.21),
            rgba(219, 163, 203, 0.504));
    background-size: 400% 400%;
    animation: bgAnimation 10s infinite linear;
}

@keyframes bgAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#final #restart:hover {
    background-color: white;
    color: rgba(71, 76, 180, 0.912);
    transition: 0.3s ease-in-out;
}


/* Tablet */
@media(min-width:568px) and (max-width:1024px) {
    .item-container {
        padding: 40px;
    }

    .item-container .items {
        width: 90px;
        height: 90px;
    }

    #final #restart {
        padding: 10px 15px;
    }
}

/* Mobile Responsive */
@media (max-width:567px) {
    .logo h4{
        font-size: 1.5rem;
    }
    h2 {
        margin-top: 60px;
        margin-bottom: 20px;

    }

    .full-container {
        justify-content: start;
    }

    .item-container {
        padding: 20px;
    }

    .item-container .items {
        width: 70px;
        height: 70px;
    }

    #result {
        margin: 80px 0 0 0;
    }

    #final #restart {
        padding: 8px 12px;
    }
}